:host {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-font-smoothing: antialiased;
    cursor: default;
    animation: 0.5s ease-out fadeIn;
}

$tabs-height: 40px;
$tab-border-radius: 4px;


.content {
    flex: auto;
    display: flex;
    flex-direction: column-reverse;

    &.tabs-on-top {
        flex-direction: column;
    }
}

.tab-bar {
    flex: none;
    height: $tabs-height;
    display: flex;

    .btn-tab-bar {
        line-height: $tabs-height + 2px;
        cursor: pointer;

        padding: 0 15px;
        flex: 0 0 auto;
        border-bottom: 2px solid transparent;
        transition: 0.25s all;
        font-size: 12px;

        text-transform: uppercase;
        font-weight: bold;
        color: #aaa;
        border: none;
        border-radius: 0;

        &.btn-minimize {
            margin-left: 10px;
        }

        &.btn-minimize, &.btn-maximize {
            font-size: 8px;
        }

        &.btn-close {
            font-size: 12px;
        }
    }

    &>.tabs {
        flex: 0 1 auto;
        display: flex;
        min-width: 0;
    }

    &>.drag-space {
        min-width: 100px;
        flex: 1 0 25%;
        -webkit-app-region: drag;
    }

    .window-controls {
        flex: 0 0 none;
    }

    &.inset {
        padding-left: 85px;
    }
}

.tabs-content {
    flex: auto;
    display: flex;
}

hotkey-hint {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 300px;
}
