title-bar(
  *ngIf='config.store.appearance.frame == "full" && config.store.appearance.dock == "off"',
  [class.inset]='hostApp.platform == Platform.macOS'
)

.content(
    [class.tabs-on-top]='config.store.appearance.tabsLocation == "top"'    
)
    .tab-bar(
        [class.inset]='hostApp.platform == Platform.macOS && config.store.appearance.frame == "thin" && config.store.appearance.tabsLocation == "top"'
    )
        .tabs
            tab-header(
                *ngFor='let tab of app.tabs; let idx = index',
                [index]='idx',
                [tab]='tab',
                [active]='tab == app.activeTab',
                [hasActivity]='tab.hasActivity',
                [class.drag-region]='hostApp.platform == Platform.macOS',
                @animateTab,
                (click)='app.selectTab(tab)',
                (closeClicked)='app.closeTab(tab)',
            )
        
        .btn-group
            button.btn.btn-secondary.btn-tab-bar(
                *ngFor='let button of leftToolbarButtons',
                [title]='button.title',
                (click)='button.click()',
            )
                i.fa([class]='"fa fa-" + button.icon')
                
        .drag-space
            
        .btn-group
            button.btn.btn-secondary.btn-tab-bar(
                *ngFor='let button of rightToolbarButtons',
                [title]='button.title',
                (click)='button.click()',
            )
                i.fa([class]='"fa fa-" + button.icon')

        .btn-group.window-controls(
            *ngIf='config.store.appearance.frame == "thin" && (hostApp.platform == Platform.Windows || hostApp.platform == Platform.Linux)',
        )
            button.btn.btn-secondary.btn-minimize.btn-tab-bar(
                (click)='hostApp.minimize()',
            )
                i.fa.fa-window-minimize
            button.btn.btn-secondary.btn-maximize.btn-tab-bar(
                (click)='hostApp.toggleMaximize()',
            )
                i.fa.fa-window-maximize
            button.btn.btn-secondary.btn-close.btn-tab-bar(
                (click)='hostApp.quit()',
            )
                i.fa.fa-close

    start-page(*ngIf='ready && app.tabs.length == 0')

    tab-body(
        *ngFor='let tab of app.tabs; trackBy: tab?.id', 
        [active]='tab == app.activeTab',
        [tab]='tab',
        [scrollable]='tab.scrollable',
    )

ng-template(ngbModalContainer)
