title-bar(*ngIf='!config.full().appearance.useNativeFrame && config.full().appearance.dock == "off"')

.content(
    [class.tabs-on-top]='config.full().appearance.tabsOnTop'    
)
    .tab-bar
        button.btn.btn-secondary(
            *ngFor='let button of getLeftToolbarButtons()',
            [title]='button.title',
            (click)='button.click()',
        )
            i.fa([class]='"fa fa-" + button.icon')
                
        .tabs
            tab-header(
                *ngFor='let tab of app.tabs; let idx = index',
                [class.pre-selected]='idx == app.tabs.indexOf(app.activeTab) - 1',
                [class.post-selected]='idx == app.tabs.indexOf(app.activeTab) + 1',
                [index]='idx',
                [tab]='tab',
                [active]='tab == app.activeTab',
                [hasActivity]='tab.hasActivity',
                @animateTab,
                (click)='app.selectTab(tab)',
                (closeClicked)='app.closeTab(tab)',
            )

        button.btn.btn-secondary(
            *ngFor='let button of getRightToolbarButtons()',
            [title]='button.title',
            (click)='button.click()',
        )
            i.fa([class]='"fa fa-" + button.icon')

    tab-body(
        *ngFor='let tab of app.tabs; trackBy: tab?.id', 
        [active]='tab == app.activeTab',
        [tab]='tab',
        [class.scrollable]='tab.scrollable',
    )

toaster-container([toasterconfig]="toasterconfig")
ng-template(ngbModalContainer)
