.modal-body
    input.form-control(type='text', [(ngModel)]='value', (keyup.enter)='save()', autofocus)

.modal-footer
    button.btn.btn-outline-primary((click)='save()') Save
    button.btn.btn-outline-secondary((click)='close()') Cancel
