.modal-body
    input.form-control(
        type='text',
        [(ngModel)]='filter',
        autofocus,
        [placeholder]='name',
        (ngModelChange)='onFilterChange()'
    )

    .list-group.mt-3(*ngIf='filteredOptions.length')
        a.list-group-item.list-group-item-action.d-flex.align-items-center(
            #item,
            (click)='selectOption(option)',
            [class.active]='selectedIndex == i',
            *ngFor='let option of filteredOptions; let i = index'
        )
            i(class='fa-fw fas mr-1 fa-{{option.icon}}')
            .mr-2 {{getOptionText(option)}}
            .text-muted {{option.description}}
