div
    .terminus-logo
    h1.terminus-title Terminus
        sup α 

    .list-group
        a.list-group-item.list-group-item-action(
            *ngFor='let button of getButtons()',
            (click)='button.click()',
        )
            .d-flex.align-self-center([innerHTML]='button.icon')
            span {{button.title}}

footer
    .pull-right
        .form-control-static Version: {{version}}
            
    .btn-group
        button.btn.btn-secondary((click)='openGitHub()')
            i.fa.fa-github
            span GitHub
        button.btn.btn-secondary((click)='reportBug()')
            i.fa.fa-bug
            span Report a problem
