div
    .terminus-logo
        .part(style='transform: rotateZ(0deg)')
            div
        .part(style='transform: rotateZ(51deg)')
            div
        .part(style='transform: rotateZ(102deg)')
            div
        .part(style='transform: rotateZ(154deg)')
            div
        .part(style='transform: rotateZ(205deg)')
            div
        .part(style='transform: rotateZ(257deg)')
            div
        .part(style='transform: rotateZ(308deg)')
            div
    h1.terminus-title Terminus

    button.btn.btn-primary.btn-lg.btn-block(
        *ngFor='let button of getButtons()',
        (click)='button.click()',
    )
        i.fa([class]='"fa fa-" + button.icon')
        span {{button.title}}

footer
    .btn-group
        button.btn.btn-secondary((click)='openGitHub()')
            i.fa.fa-github
            span GitHub
        button.btn.btn-secondary((click)='reportBug()')
            i.fa.fa-bug
            span Report a problem
