:host {
    display: none;
    flex: auto;
    position: relative;
    overflow: hidden;

    &.active {
        display: flex;

        >* {
            flex: auto;
        }
    }

    > perfect-scrollbar {
        width: auto;
        height: auto;
    }
}
