.progressbar([style.width]='progress + "%"', *ngIf='progress != null')
.index(
    #handle,
    [style.background-color]='tab.color',
) {{index + 1}}
.name([title]='tab.customTitle || tab.title') {{tab.customTitle || tab.title}}
button((click)='app.closeTab(tab, true)') &times;
