$tabs-height: 38px;

:host {
    position: relative;
    cursor: pointer;

    flex: 1000 1 200px;
    width: 200px;

    display: flex;
    flex-direction: row;
    min-width: 0;

    overflow: hidden;

    &.vertical {
      flex: none;
      height: $tabs-height;
    }

    .index {
        flex: none;
        font-weight: bold;
        -webkit-app-region: no-drag;
        cursor: -webkit-grab;

        margin-left: 10px;
        width: 22px;
        border-radius: 10px;
        text-align: center;
        transition: 0.25s all;
        align-self: center;
    }

    .name {
        flex: auto;
        margin: 0 1px 0 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        min-width: 0;
        align-self: center;
    }

    button {
        display: block;
        flex: none;
        background: transparent;
        opacity: 0;
        -webkit-app-region: no-drag;

        $button-size: 26px;
        width: $button-size;
        height: $button-size;
        border-radius: $button-size / 2;
        line-height: $button-size;
        align-self: center;
        margin-right: 10px;

        text-align: center;
        font-size: 20px;

        &:focus {
          outline: 0;
        }
    }

    &:hover button {
        transition: 0.25s opacity;
        display: block;
        opacity: 1;
    }

    &.drag-region {
        -webkit-app-region: drag;
    }

    &.fully-draggable {
        cursor: -webkit-grab;
    }

    .progressbar {
        position: absolute;
        left: 0;
        top: 0;
        height: 5px;
        z-index: -1;
        transition: 0.25s width;
    }
}
