.title((dblclick)='hostApp.toggleMaximize()') Terminus
button.btn.btn-secondary.btn-minimize((click)='hostApp.minimize()')
    i.fa.fa-window-minimize
button.btn.btn-secondary.btn-maximize((click)='hostApp.toggleMaximize()')
    i.fa.fa-window-maximize
button.btn.btn-secondary.btn-close((click)='hostApp.quit()')
    i.fa.fa-close
