terminal-toolbar([tab]='this')
    i.fas.fa-xs.fa-circle.text-success.me-2(*ngIf='session && session.open')
    i.fas.fa-xs.fa-circle.text-danger.me-2(*ngIf='!session || !session.open')
    strong {{profile.options.port}} ({{profile.options.baudrate}})

    .me-auto

    button.btn.btn-sm.btn-link.me-3((click)='changeBaudRate()', *ngIf='session && session.open && hostApp.platform !== Platform.Web')
        span(translate) Change baud rate

    button.btn.btn-sm.btn-link((click)='reconnect()', *ngIf='!session || !session.open')
        i.fas.fa-redo
        span(translate) Reconnect
