:host {
    position: fixed;
    width: 400px;
    right: 50px;
    z-index: 5;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background: rgba(0, 0, 0, .95);
    border: 1px solid rgba(0, 0, 0, .5);
    border-top: 0;
    display: flex;

    button {
        padding: 0 6px;
        flex-shrink: 0;
    }
}
