.d-flex
    strong(translate) Keyboard-interactive auth
    .ms-2 {{prompt.name}}

.prompt-text {{prompt.prompts[step].prompt}}

input.form-control.mt-2(
    #input,
    autofocus,
    [type]='isPassword() ? "password": "text"',
    placeholder='Response',
    (keyup.enter)='next()',
    [(ngModel)]='prompt.responses[step]'
)

.d-flex.mt-3
    checkbox(
        *ngIf='isPassword()',
        [(ngModel)]='remember',
        [text]='"Save password"|translate'
    )

    .ms-auto

    button.btn.btn-secondary.me-3(
        *ngIf='step > 0',
        (click)='previous()'
    )

    button.btn.btn-primary(
        (click)='next()'
    )
        span(*ngIf='step < prompt.prompts.length - 1') Next
        span(*ngIf='step == prompt.prompts.length - 1') Finish
