.modal-body
    label(translate) Name for the new directory
    .mb-3.w-100.me-2
        input.form-control(
            type='text',
            [(ngModel)]='directoryName',
        )


.modal-footer
    button.btn.btn-success((click)='create()', translate) Create
    button.btn.btn-danger((click)='cancel()', translate) Cancel
