.d-flex.flex-column.h-100
    .d-flex.flex-grow-1.h-0
        file-browser-pane.h-100.d-flex.flex-column.flex-grow-1(
            *ngIf='leftPane',
            [fileSystem]='leftPane.fs',
            [path]='leftPane.path',
            (pathChange)='onPanePathChange("left", $event)',
            [cwdDetectionAvailable]='leftPane.fs === sftp ? cwdDetectionAvailable : true',
            [paneType]='"left"'
        )

        .separator(*ngIf='leftPane && rightPane')
            button.btn.btn-sm.btn-link.swap-btn((click)='swapPanes()', title='Swap panes')
                i.fas.fa-exchange-alt

        file-browser-pane.h-100.d-flex.flex-column.flex-grow-1(
            *ngIf='rightPane',
            [fileSystem]='rightPane.fs',
            [path]='rightPane.path',
            (pathChange)='onPanePathChange("right", $event)',
            [cwdDetectionAvailable]='rightPane.fs === sftp ? cwdDetectionAvailable : true',
            [paneType]='"right"'
        )

    .toolbar.d-flex.align-items-center.px-3.py-2.border-top
        button.btn.btn-sm.btn-secondary.me-2((click)='swapPanes()', *ngIf='leftPane && rightPane')
            i.fas.fa-exchange-alt.me-2
            span(translate) Swap sides
        button.btn.btn-sm.btn-secondary((click)='showRemoteSplit()', *ngIf='!rightPane')
            i.fas.fa-columns.me-2
            span(translate) Split view
        button.btn.btn-sm.btn-secondary((click)='closeLocal()', *ngIf='rightPane')
            i.fas.fa-times.me-2
            span(translate) Close split
