.modal-header(*ngIf='session.forwardedPorts.length')
    h5.m-0 Forwarded ports

.modal-body.pt-0
    ssh-port-forwarding-config(
        [model]='session.forwardedPorts',
        (forwardAdded)='onForwardAdded($event)',
        (forwardRemoved)='onForwardRemoved($event)'
    )
