.terminal-toolbar(
    (mouseenter)='showToolbar()',
    (mouseleave)='hideToolbar()'
)
    i.fas.fa-xs.fa-circle.text-success.mr-2(*ngIf='session && session.open')
    i.fas.fa-xs.fa-circle.text-danger.mr-2(*ngIf='!session || !session.open')
    strong.mr-auto {{profile.options.user}}@{{profile.options.host}}:{{profile.options.port}}

    button.btn.btn-sm.btn-link.mr-2((click)='reconnect()')
        i.fas.fa-redo
        span Reconnect

    button.btn.btn-sm.btn-link.mr-2((click)='openSFTP()', *ngIf='session && session.open')
        i.far.fa-folder-open
        span SFTP

    button.btn.btn-sm.btn-link(
        *ngIf='session && session.open && hostApp.platform !== Platform.Web',
        (click)='showPortForwarding()'
    )
        i.fas.fa-plug
        span Ports


sftp-panel.bg-dark(
    @panelSlide,
    [(path)]='sftpPath',
    *ngIf='sftpPanelVisible',
    (click)='$event.stopPropagation()',
    [session]='session',
    (closed)='sftpPanelVisible = false'
)
