app/node_modules
app/src/daemonInstaller.generated.js
app/assets/webpack
app/elements-native.node

node_modules
typings

build/files.wxs
native/windows/build
native/mac/build
native/linux/build
native/build
dist
driver/build
driver/obj

*.xcworkspacedata
*.xcuserstate
*.wixpdb

coverage
.nyc_output
