app/node_modules
app/assets/webpack

node_modules

build/files.wxs
dist
*/dist
*/typings
*.tsbuildinfo

*.xcworkspacedata
*.xcuserstate
*.wixpdb

.DS_Store
.DS_Store?

coverage
.nyc_output
npm-debug.log

builtin-plugins
package-lock.json
yarn-error.log

docs/api
.travis.ssh.key
*.code-workspace

.electron-symbols
sentry.properties
sentry-symbols.js

tabby-ssh/util/pagent.exe
*.psd
