branches:
  only:
    - master
language: node_js
node_js:
  - 16
arch:
  - amd64
  - arm64 
os: linux 
dist: focal
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"
  - sudo apt update
  - sudo apt install -y libfontconfig-dev libsecret-1-dev libarchive-tools libnss3 libatk1.0-0 libatk-bridge2.0-0 libgdk-pixbuf2.0-0 libgtk-3-0 libgbm1 cmake
  - yarn
  - ./scripts/install-deps.js
script:
  - ./scripts/build-native.js
  - yarn run build
  - node scripts/prepackage-plugins.js
  - node scripts/build-linux.js
  - mkdir artifact-deb
  - mv dist/*.deb artifact-deb/ || true
deploy:
  provider: releases
  token: ${GITHUB_TOKEN}
  file:
  - "$TRAVIS_BUILD_DIR/dist/*.deb"
  cleanup: true
  on:
    tags: false
