command-line-editor([model]='profile.options')

.form-line(*ngIf='uac.isAvailable')
    .header
        .title Run as administrator
    toggle(
        [(ngModel)]='profile.options.runAsAdministrator',
    )

.form-group
    label Working directory

    .input-group
        input.form-control(
            type='text',
            placeholder='Home directory',
            [(ngModel)]='profile.options.cwd'
        )
        .input-group-append
            button.btn.btn-secondary((click)='pickWorkingDirectory()')
                i.fas.fa-folder-open

.form-group
    label Environment
    environment-editor(
        type='text',
        [(model)]='profile.options.env',
    )
