.modal-body
    input.form-control(type='text', #input, [(ngModel)]='value', (keyup.enter)='save()', autofocus)

.modal-footer
    button.btn.btn-primary((click)='save()', translate) Save
    button.btn.btn-secondary((click)='close()', translate) Cancel
