.modal-body
    .alert.alert-danger Tabby could not start with your plugins, so all third party plugins have been disabled in this session. The error was:

    pre {{error}}

.modal-footer
    button.btn.btn-primary((click)='close()') Close
