.modal-body
    input.form-control.form-control-lg(
        type='text',
        [(ngModel)]='filter',
        autofocus,
        [placeholder]='name',
        (ngModelChange)='onFilterChange()'
    )

    .list-group.list-group-light(*ngIf='filteredOptions.length')
        ng-container(*ngFor='let option of filteredOptions; let i = index')
            label.group-header(
                *ngIf='hasGroups && option.group !== filteredOptions[i - 1]?.group'
            ) {{option.group}}
            a.list-group-item.list-group-item-action.d-flex.align-items-center(
                #item,
                (click)='selectOption(option)',
                [class.active]='selectedIndex == i'
            )
                i.icon(
                    class='fa-fw {{option.icon}}',
                    style='color: {{option.color}}',
                    *ngIf='!iconIsSVG(option.icon)'
                )
                .icon(
                    [fastHtmlBind]='option.icon',
                    style='color: {{option.color}}',
                    *ngIf='iconIsSVG(option.icon)'
                )
                .title.mr-2 {{getOptionText(option)}}
                .description.no-wrap.text-muted {{option.description}}
