.modal-body {
    padding: 0;
}

.list-group {
    max-height: 70vh;
    overflow: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.icon {
    width: 1.25rem;
    margin-right: 0.25rem;
}

.title {
    margin-left: 10px;
}

input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
