:host {
    position: absolute;
    pointer-events: none;
    z-index: 10;
}

.custom-name {
    position: absolute;
    top: 6px;
    left: 50%;
    max-width: calc(100% - 24px);
    padding: 2px 8px;
    transform: translateX(-50%);
    overflow: hidden;
    border-radius: 4px;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

:host.minimized .custom-name {
    display: none;
}

.rearrange-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: .125s opacity cubic-bezier(0.86, 0, 0.07, 1);
}

.rearrange-label {
    background: rgba(0, 0, 0, .7);
    padding: 20px 30px;
    margin: 20px;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: move;
}

:host.active {
    .rearrange-overlay {
        opacity: 1;
    }

    .rearrange-label {
        pointer-events: initial;
    }
}

label {
    margin: 0;
    cursor: move;
}
