:host {
    flex: none;
    $toggle-size: 18px;
    $height: 30px;
    $padding: 2px;
    display: inline-flex;
    border-radius: 3px;
    line-height: $height;
    height: $height;
    transition: 0.25s opacity;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: -10px;

    .form-check {
        margin: 0;
    }

    &.disabled {
        opacity: 0.5;
    }

    * {
        cursor: pointer;
    }

    label {
        display: none;
    }
}
