.drop-zone-hint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    pointer-events: none;
    z-index: 1;
    display: flex;
    transition: .25s opacity ease-out;
    opacity: 0;

    &.visible {
        opacity: 1;
    }

    i {
        font-size: 48px;
        align-self: center;
        margin: auto;
        text-align: center;
    }
}
