.modal-header
    h5 Press the key now

.modal-body
    .input
        .stroke(*ngFor='let stroke of value', [@animateKey]='true') {{stroke}}

    .timeout
        div([style.width]='timeoutProgress + "%"')

.modal-footer
    button.btn.btn-primary((click)='close()') Cancel
