.modal-header
    h5(translate) Press the key now

.modal-body
    .input
        .stroke(
            *ngFor='let stroke of value',
            [@animateKey]='true',
            [@.disabled]='!config.store.accessibility.animations'
        ) {{stroke}}

    .timeout
        div([style.width]='timeoutProgress + "%"')

.modal-footer
    button.btn.btn-primary((click)='close()', translate) Cancel
