.item(*ngFor='let hotkey of hotkeys')
    .body((click)='editItem(hotkey)')
        .stroke(*ngFor='let stroke of castAny(hotkey.strokes)')
            span(*ngIf='!hotkey.isDuplicate') {{stroke}}
            span.duplicate(*ngIf='hotkey.isDuplicate') {{stroke}}
    .remove((click)='removeItem(hotkey)') &times;

.add((click)='addItem()', translate) Add...
