.item(*ngFor='let item of model')
    .body((click)='editItem(item)')
        .stroke(*ngFor='let stroke of item') {{stroke}}
    .remove((click)='removeItem(item)') &times;

.add((click)='addItem()') Add...
