:host {
    display: flex;
    flex-wrap: nowrap;
}

.item {
    display: flex;
    flex: none;

    .body {
        flex: none;
        display: flex;

        .stroke {
            flex: none;
        }
    }

    .remove {
        flex: none;
    }
}

.add {
    flex: none;
    display: block;
    white-space: nowrap;
}
