.item(*ngFor='let hotkey of hotkeys; let i = index')
    .body((click)='editItem(i)')
        .stroke(*ngFor='let stroke of castAny(hotkey.strokes)')
            span(*ngIf='!hotkey.isDuplicate') {{stroke}}
            span.duplicate(*ngIf='hotkey.isDuplicate') {{stroke}}
    .remove((click)='removeItem(i)') &times;

.add((click)='addItem()', translate) Add...
