.item(*ngFor='let hotkey of hotkeys; let i = index')
    .body((mousedown)='openEditorByMouse($event, i)')
        .stroke(*ngFor='let stroke of castAny(hotkey.strokes)')
            span(*ngIf='!hotkey.isDuplicate') {{stroke}}
            span.duplicate(*ngIf='hotkey.isDuplicate') {{stroke}}
    .remove((mousedown)='removeByMouse($event, i)') &times;

.add((click)='addItem()', translate) Add...
