profile-icon {
    width: 1rem;
    height: 1rem;
}

.collapse-container {
    background-color: var(--theme-bg-less);
    border-radius: 0.375rem;
}

.collapse-item {
    height: 2.25rem;
    background-color: var(--theme-bg-less);
    border-radius: 0.3rem;
    cursor: pointer;
}

.collapse-item:hover {
    background-color: var(--theme-bg-less-2);
}