h4.modal-header.m-0.pb-0 {{title}}
.modal-body
    .input-group.w-100
        input.form-control(
            type='text',
            [(ngModel)]='secret.value',
            disabled
        )
        button.btn.btn-secondary(
            (click)='copySecret()'
        )
            i.fas.fa-copy

.modal-footer
    button.btn.btn-primary((click)='close()', translate) Close
