:host {
    display: flex;
    flex-direction: column;;

    > * {
    }

    > .header {
        padding: 5px 15px 0 20px;
        display: flex;
        align-items: center;
        flex: none;
    }

    > .body {
        padding: 10px 20px;
        flex: 1 1 0;
        overflow-y: auto;
    }

    .breadcrumb {
        background: none;
        padding: 0;
        margin: 0;
    }

    .breadcrumb-item {
        cursor: pointer;
    }

    .breadcrumb-item:first-child {
        font-weight: bold;
    }

    .mode, .size, .date {
        font-family: monospace;
        opacity: .5;
        font-size: 12px;
        text-align: right;
        margin-left: 20px;
    }

    .size {
        width: 100px;
    }

    .date {
        width: 200px;
    }
}

.btn-close svg {
    width: 12px;
}
