h3 Connections

.list-group.mt-3.mb-3
    .list-group-item(*ngFor='let connection of connections') 
        .d-flex.w-100
            .mr-auto
                div
                    span {{connection.name}}
                .text-muted {{connection.host}}
            button.btn.btn-outline-info.ml-2((click)='editConnection(connection)')
                i.fa.fa-pencil
            button.btn.btn-outline-danger.ml-1((click)='deleteConnection(connection)')
                i.fa.fa-trash-o
                    
button.btn.btn-outline-primary((click)='createConnection()') Add connection
