.ssh-tab-toolbar
    .btn.btn-outline-secondary.reveal-button
        i.fas.fa-ellipsis-h
    .toolbar(*ngIf='session', [class.show]='!session.open')
        i.fas.fa-circle.text-success.mr-2(*ngIf='session.open')
        i.fas.fa-circle.text-danger.mr-2(*ngIf='!session.open')
        strong.mr-auto(*ngIf='session') {{session.connection.user}}@{{session.connection.host}}:{{session.connection.port}}

        button.btn.btn-secondary((click)='showPortForwarding()', *ngIf='session.open')
            i.fas.fa-plug
            span Ports

        button.btn.btn-info((click)='reconnect()', *ngIf='!session.open')
            i.fas.fa-reload
            span Reconnect
