:host {
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    &> .content {
        flex: auto;
        position: relative;
        display: block;
        overflow: hidden;
        margin: 15px;
    }

    &> button {
        position: absolute;
        bottom: 20px;
        right: 40px;
        z-index: 4;
    }
}
