:host {
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &> .content {
        flex: auto;
        position: relative;
        display: block;
        overflow: hidden;
        margin: 15px;
    }
}
