doctype html
html
    head
        meta(charset='UTF-8')
        base(href='index.html')
        script.
            console.timeStamp('index')
            window.nodeRequire = require
        script(src='./preload.js')
        script(src='./bundle.js', defer)
        style#custom-css
    body(style='background: ; min-height: 100vh; overflow: hidden')
        app-root
            .preload-logo
                div
                    .terminus-logo.animated
                        .part(style='transform: rotateZ(0deg)')
                            div
                        .part(style='transform: rotateZ(51deg)')
                            div
                        .part(style='transform: rotateZ(102deg)')
                            div
                        .part(style='transform: rotateZ(154deg)')
                            div
                        .part(style='transform: rotateZ(205deg)')
                            div
                        .part(style='transform: rotateZ(257deg)')
                            div
                        .part(style='transform: rotateZ(308deg)')
                            div
                    h1.terminus-title Terminus
                    .progress
                        .bar(style='width: 0%')

                    
