doctype html
html
    head
        meta(charset='UTF-8')
        base(href='index.html')
        script.
            console.timeStamp('index')
            window.nodeRequire = require
        script(src='./preload.js')
        script(src='./bundle.js', defer)
    body(style='background: ; min-height: 100vh; overflow: hidden')
        app-root
