.terminal-toolbar(
    (mouseenter)='showToolbar()',
    (mouseleave)='hideToolbar()'
)
    i.fas.fa-xs.fa-circle.text-success.mr-2(*ngIf='session && session.open')
    i.fas.fa-xs.fa-circle.text-danger.mr-2(*ngIf='!session || !session.open')
    strong.mr-auto {{profile.options.host}}:{{profile.options.port}}

    button.btn.btn-sm.btn-link.mr-2((click)='reconnect()')
        i.fas.fa-redo
        span Reconnect
