ul.nav-tabs(ngbNav, #nav='ngbNav')
    li(ngbNavItem)
        a(ngbNavLink, translate) General
        ng-template(ngbNavContent)
            .mb-3
                label(translate) Host
                input.form-control(
                    type='text',
                    [(ngModel)]='profile.options.host',
                )

            .mb-3
                label(translate) Port
                input.form-control(
                    type='number',
                    placeholder='22',
                    [(ngModel)]='profile.options.port',
                )

            stream-processing-settings([options]='profile.options')

    li(ngbNavItem)
        a(ngbNavLink, translate) Login scripts
        ng-template(ngbNavContent)
            login-scripts-settings([options]='profile.options')

    li(ngbNavItem)
        a(ngbNavLink, translate) Input
        ng-template(ngbNavContent)
            input-processing-settings([options]='profile.options.input')

div([ngbNavOutlet]='nav')
