ul.nav-tabs(ngbNav, #nav='ngbNav')
    li(ngbNavItem)
        a(ngbNavLink) General
        ng-template(ngbNavContent)
            .form-group
                label Host
                input.form-control(
                    type='text',
                    [(ngModel)]='profile.options.host',
                )

            .form-group
                label Port
                input.form-control(
                    type='number',
                    placeholder='22',
                    [(ngModel)]='profile.options.port',
                )

            stream-processing-settings([options]='profile.options')

    li(ngbNavItem)
        a(ngbNavLink) Login scripts
        ng-template(ngbNavContent)
            login-scripts-settings([options]='profile.options')

div([ngbNavOutlet]='nav')
