@import "~bootstrap/less/variables.less";
@import "~bootstrap/variables.less";

:host {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    background: @body-bg;
}


.navbar {
    flex: none;
    border-left: none;
    border-right: none;
    border-top: none;
    -webkit-app-region: drag;
    margin: 0;

    background: @navbar-default-bg;
    :host.platform-darwin & {
        background: fade(@navbar-default-bg, 50%);
    }

    .navbar-btn-big {
        margin: 0;
        padding: 15px 20px 15px;
        background-color: #333;
        text-align: left;

        background: transparent;
        box-shadow: none;

        &.btn-profile {
            padding: 7px 14px 7px;
            display: flex;
            flex-direction: row;
            max-width: 150px;

            :host.platform-darwin & {
                max-width: 120px;
            }

            >img {
                flex: none;
                float: left;
                margin: 2px 10px 4px 0;
                width: 30px;
                height: 30px;

                :host.platform-darwin & {
                    margin-right: 0;
                }
            }

            >div {
                flex: auto;

                :host.platform-darwin & {
                    display: none;
                }

                .username {
                }

                .settings {
                    font-size: 10px;
                }
            }
        }

        &.btn-close {
            font-size: 38px;
            padding: 1px 13px 2px;
            line-height: 47px;

            :host.platform-darwin & {
                display: none;
            }
        }
    }

    button.navbar-btn-big:hover {
        background-color: #222;
    }

    button.navbar-btn-big:active {
        background-color: #111;
    }


    .navbar-brand {
        padding: 11px 15px;
        width: 150px;

        :host.platform-darwin & {
            display: block;
            margin: auto;
            float: none;
        }

        img {
            height: 28px;
        }
    }
}

[scrollable] {
    width: 100vw;
    flex: auto;
    display: flex;

    .nano {
        flex: auto;
        height: auto;
    }
}

footer {
  display: block;
  flex: none;
  height: 1px;
}

perfect-scrollbar {
    flex: auto;
    min-height: 0;
}
