div.navbar.navbar-default.draggable
    button.btn.btn-default.navbar-btn.navbar-btn-big.btn-close.pull-right((click)='hide()', title='Hide')
        | &times;
    button.btn.btn-default.navbar-btn.navbar-btn-big.pull-right((click)='showSettings()', title='Settings')
        i.fa.fa-cog

ngb-tabset
    ngb-tab(*ngFor='let tab of tabs; trackBy: tab?.name')
        template(ngbTabTitle)
            span {{tab.name}}
            button.btn.btn-default((click)='closeTab(tab)') &times;
        template(ngbTabContent)
            terminal([session]='tab', style='width: 300px; height: 300px;')

button.btn.btn-default((click)='newTab()') New tab
footer

toaster-container([toasterconfig]="toasterconfig")
template(ngbModalContainer)

div.window-resizer.window-resizer-tl
