.tabs
    .tab(*ngFor='let tab of tabs; trackBy: tab?.id', (click)='selectTab(tab)', [class.active]='tab == activeTab')
        div {{tab.name}}
        button((click)='closeTab(tab)') &times;
    .btn-new-tab((click)='newTab()')
        i.fa.fa-plus
        span Tab

.tabs-content
    .tab(*ngFor='let tab of tabs; trackBy: tab?.id', [class.active]='tab == activeTab')
        terminal([session]='tab.session', '[(title)]'='tab.name')

toaster-container([toasterconfig]="toasterconfig")
template(ngbModalContainer)

div.window-resizer.window-resizer-tl
