title-bar(*ngIf='!config.store.appearance.useNativeFrame && config.store.appearance.dock == "off"')

.spacer 

.tabs(class='active-tab-{{tabs.indexOf(activeTab)}}')
    button.btn.btn-secondary.btn-new-tab((click)='newTab()')
        i.fa.fa-plus
    tab-header(
        *ngFor='let tab of tabs; let idx = index; trackBy: tab?.id',
        [index]='idx',
        [model]='tab',
        [active]='tab == activeTab',
        [hasActivity]='tab.hasActivity',
        @animateTab,
        (click)='selectTab(tab)',
        (closeClicked)='closeTab(tab)',
    )
    button.btn.btn-secondary.btn-settings((click)='showSettings()')
        i.fa.fa-cog

.tabs-content
    tab-body(
        *ngFor='let tab of tabs; trackBy: tab?.id', 
        [active]='tab == activeTab',
        [model]='tab',
        [class.scrollable]='tab.scrollable',
    )

// TODO
//hotkey-hint

toaster-container([toasterconfig]="toasterconfig")
template(ngbModalContainer)

div.window-resizer.window-resizer-tl
