title-bar(*ngIf='!config.full().appearance.useNativeFrame && config.store.appearance.dock == "off"')

.content(
    [class.tabs-on-top]='config.full().appearance.tabsOnTop'    
)
    .tabs
        button.btn.btn-secondary(
            *ngFor='let button of getLeftToolbarButtons()',
            [title]='button.title',
            (click)='button.click()',
        )
            i.fa([class]='"fa fa-" + button.icon')
                
        .tabs-container
            tab-header(
                *ngFor='let tab of app.tabs; let idx = index; trackBy: tab?.id',
                [class.pre-selected]='idx == app.tabs.indexOf(app.activeTab) - 1',
                [class.post-selected]='idx == app.tabs.indexOf(app.activeTab) + 1',
                [index]='idx',
                [model]='tab',
                [active]='tab == app.activeTab',
                [hasActivity]='tab.hasActivity',
                @animateTab,
                (click)='app.selectTab(tab)',
                (closeClicked)='app.closeTab(tab)',
            )

        button.btn.btn-secondary(
            *ngFor='let button of getRightToolbarButtons()',
            [title]='button.title',
            (click)='button.click()',
        )
            i.fa([class]='"fa fa-" + button.icon')

    .tabs-content
        tab-body(
            *ngFor='let tab of app.tabs; trackBy: tab?.id', 
            [active]='tab == app.activeTab',
            [model]='tab',
            [class.scrollable]='tab.scrollable',
        )

    // TODO
    //hotkey-hint

toaster-container([toasterconfig]="toasterconfig")
template(ngbModalContainer)

div.window-resizer.window-resizer-tl
