:host {
    display: inline-block;
    padding: 5px;

    transition: 0.125s all;

    &:hover:not(.active) {
        background: rgba(255, 255, 255, .033);
    }

    &:active:not(.active) {
        background: rgba(0, 0, 0, .1);
    }
}
