div.modal-body
    label Press the key now
    .input
        hotkey-display([model]='value', [animate]='true')

    .timeout
        div([style.width]='timeoutProgress + "%"')
    a.btn.btn-default.pull-right((click)='close()') Cancel
