:host {
    display: inline-block;

    .stroke {
        display: inline-block;
        margin: 0 5px;

        .key-container {
            display: inline-block;
            background: #222;
            text-shadow: 0 1px 0 rgba(0,0,0,.5);

            .key {
                display: inline-block;
                padding: 4px 5px;
            }

            .plus {
                display: inline-block;
                padding: 4px 2px;
            }
        }
    }
}
