div.modal-body
    ngb-tabset(type='tabs nav-justified')
        ngb-tab
            template(ngbTabTitle)
                i.fa.fa-keyboard-o
                | Hotkeys
            template(ngbTabContent)
                .form-group
                    table.table
                        tr
                            th Toggle terminal window
                            td
                                hotkey-input('[(model)]'='globalHotkey')

div.modal-footer
    div.btn-group.btn-group-justified
        a.btn.btn-default((click)='close()')
            i.fa.fa-fw.fa-check
            br
            | Done
