ngb-tabset(type='tabs')
    ngb-tab
        template(ngbTabTitle)
            | General
        template(ngbTabContent)
            .form-group
                label Font
                input.form-control(type='text', [ngbTypeahead]='fontAutocomplete', '[(ngModel)]'='font')
    ngb-tab
        template(ngbTabTitle)
            | Hotkeys
        template(ngbTabContent)
            .form-group
                table.table
                    tr
                        th Toggle terminal window
                        td
                            hotkey-input('[(model)]'='globalHotkey')
