ngb-tabset(type='tabs')
    ngb-tab
        template(ngbTabTitle)
            | General
        template(ngbTabContent)
            .form-group
                label.control-label Font
                input.form-control(
                    type='text',
                    [ngbTypeahead]='fontAutocomplete',
                    '[(ngModel)]'='config.store.appearance.font',
                    '(ngModelChange)'='config.save()',
                )
            .form-group
                label.control-label Font size
                input.form-control(
                    type='number',
                    '[(ngModel)]'='config.store.appearance.fontSize',
                    '(ngModelChange)'='config.save()',
                )

    ngb-tab
        template(ngbTabTitle)
            | Hotkeys
        template(ngbTabContent)
            .form-group
                table.table
                    tr
                        th Toggle terminal window
                        td
                            hotkey-input('[(model)]'='globalHotkey')
