:host {
    display: none;
    flex: auto;
    position: relative;
    overflow: hidden;

    &.scrollable {
        overflow-y: auto;
    }

    &.active {
        display: flex;

        >* {
            flex: auto;
        }
    }
}
