@import './theme.scss';

app-root {
    .tab-bar {
        height: 27px !important;

        .btn-tab-bar {
            line-height: 29px !important;

            svg {
                height: 14px;
            }
        }
    }

    terminaltab .content {
        margin: 5px !important;
    }

    ssh-tab .content {
        margin: 5px !important;
    }
}
