:host {
    display: flex;
}

.item {
    display: flex;
    flex: none;
    padding: 3px 0;
    margin-right: 5px;

    .body {
        flex: none;
        display: flex;

        .stroke {
            flex: none;
            padding: 0 3px;
        }
    }

    .remove {
        flex: none;
    }
}

.add {
    flex: auto;
}
