:host {
    display: flex;
    flex-direction: column;
    flex: auto;

    >.btn-block {
        margin: 20px;
        width: auto;
        flex: none;
    }

    >.modal-body {
        padding: 0 0 20px !important;
    }
}
