@import "./theme.vars";

// ---------


$button-hover-bg: rgba(0, 0, 0, .25);
$button-active-bg: rgba(0, 0, 0, .5);

@import '~bootstrap/scss/bootstrap.scss';

window-controls {
    svg {
        transition: 0.25s fill;
        fill: #aaa;
    }

    button:hover svg {
        fill: white;
    }

    .btn-close:hover {
        background: #8a2828;
    }
}

$border-color: #111;

body {
    background: $body-bg;

    &.vibrant {
        background: rgba(0,0,0,.65);
    }
}

app-root  {
    &.no-tabs {
        background: rgba(0,0,0,.5);
    }

    &> .content {
        .tab-bar {
            .btn-tab-bar {
                background: transparent;
                &:hover { background: rgba(0, 0, 0, .25) !important; }
                &:active, &[aria-expanded-true] { background: rgba(0, 0, 0, .5) !important; }
                &:focus {
                    box-shadow: none;
                }

                &::after {
                    display: none;
                }
            }

            &>.tabs {
                tab-header {
                    border-left: 1px solid transparent;
                    border-right: 1px solid transparent;

                    transition: 0.125s ease-out width;

                    .index {
                        color: rgba(255, 255, 255, 0.4);
                    }

                    button {
                        color: $body-color;
                        border: none;
                        transition: 0.25s all;

                        right: 5px;

                        &:hover { background: $button-active-bg !important; }
                        &:active { background: $button-active-bg !important; }
                    }

                    .progressbar {
                        background: $green;
                    }

                    .activity-indicator {
                        background:rgba(255, 255, 255, 0.2);
                    }

                    &.active {
                        color: white;
                        background: $content-bg;
                        border-left: 1px solid $border-color;
                        border-right: 1px solid $border-color;
                    }
                }
            }
        }

        &.tabs-on-top .tab-bar {
            &>.background {
                border-bottom: 1px solid $border-color;
            }

            tab-header {
                border-bottom: 1px solid $border-color;

                &.active {
                    border-bottom-color: transparent;
                }
            }
        }

        &:not(.tabs-on-top) .tab-bar {
            &>.background {
                border-top: 1px solid $border-color;
            }

            tab-header {
                border-top: 1px solid $border-color;

                &.active {
                    margin-top: -1px;
                }
            }
        }
    }

    &.platform-win32, &.platform-linux {
        border: 1px solid #111;
        &>.content .tab-bar .tabs tab-header:first-child {
            border-left: none;
        }
    }
}

tab-body {
    background: $content-bg;

    .terminal-toolbar .btn, .toolbar-pin-button {
        font-weight: bold;
    }
}

multi-hotkey-input {
    .item {
        background: $body-bg2;
        border: 1px solid $blue;
        border-radius: 3px;
        margin-right: 5px;

        .body {
            padding: 3px 0 2px;

            .stroke {
                padding: 0 6px;
                border-right: 1px solid $content-bg;
            }
        }

        .remove {
            padding: 3px 8px 2px;
        }
    }

    .add {
        color: #777;
        padding: 4px 10px 0;
    }

    .add, .item .body, .item .remove {
        &:hover { background: darken($body-bg2, 5%); }
        &:active { background: darken($body-bg2, 15%); }
    }
}

hotkey-input-modal {
    .input {
        background: $input-bg;
        padding: 10px;
        font-size: 24px;
        line-height: 27px;
        height: 55px;

        .stroke {
            background: $body-bg2;
            border: 1px solid $blue;
            border-radius: 3px;
            margin-right: 10px;
            padding: 3px 10px;
        }
    }

    .timeout {
        background: $input-bg;

        div {
            background: $blue;
        }
    }
}

.form-group label {
    margin-bottom: 2px;
}

[ngbradiogroup] > label.active {
    background: $blue;
}

.btn {
    i + * {
        margin-left: 5px;
    }

    &.btn-lg i + * {
        margin-left: 10px;
    }
}

.input-group-addon + .form-control {
    border-left: none;
}

.input-group > select.form-control {
    flex-direction: row;
}

.list-group-item {
    transition: 0.0625s background;

    i + * {
        margin-left: 10px;
    }
}

.list-group.list-group-flush .list-group-item:not(.list-group-item-action) {
    background: transparent;
    border-color: rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
        border-bottom: none;
    }
}

.list-group-light {
    .list-group-item {
        background: transparent;
        border: none;

        border-top: 1px solid rgba(0, 21, 43, .4);

        &:first-child {
            border-top: none;
        }

        &.list-group-item-action {
            &:hover, &.active {
                background: $list-group-hover-bg;
            }
        }
    }
}

checkbox i.on {
    color: $blue;
}

.modal .modal-footer {
    background: rgba(0, 0, 0, .25);

    .btn {
        font-weight: bold;
        padding: 0.375rem 1.5rem;
    }
}

.list-group-item svg {
    fill: white;
    fill-opacity: 0.75;
}

*::-webkit-scrollbar {
    background: rgba(0, 0, 0, .125);
    width: 10px;
    margin: 5px;
}

*::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .25);
}

*::-webkit-scrollbar-corner,
*::-webkit-resizer {
    opacity: 0;
}

search-panel {
    background: rgba(39, 49, 60, 0.95) !important;
}


.btn {
    cursor: pointer;
    justify-content: flex-start;
    overflow: hidden;

    &.disabled,
    &:disabled {
        cursor: not-allowed;
    }
}

.btn-warning:not(:disabled):not(.disabled) {
    &.active, &:active {
        color: $gray-900;
    }
}

.btn-secondary:not(:disabled):not(.disabled) {
    &.active, &:active {
        background: #191e23;
        align-items: center;
    }
}

.btn-link {
    &:hover, &[aria-expanded=true], &:active, &.active {
        color: $link-hover-color;
        border-radius: $btn-border-radius;
    }

    &[aria-expanded=true], &:active, &.active {
        background: rgba(255, 255, 255, 0.1);
    }
}

.btn-group .btn.active {
    border-color: transparent !important;
}

.nav-tabs {
    margin-bottom: 10px;

    &.nav-justified .nav-link {
        margin-right: 5px;
    }

    .nav-link {
        border: none;
        border-bottom: $nav-tabs-border-width solid transparent;
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px 0;
        margin-right: 20px;

        uib-tab-heading > i {
            font-size: 18px;
        }

        @include hover-focus {
            color: $nav-tabs-link-active-color;
        }

        &.disabled {
            color: $nav-link-disabled-color;
            border-color: transparent;
        }
    }

    .nav-item:last-child .nav-link {
        margin-right: 0;
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color: $nav-tabs-link-active-color;
        border-color: $nav-tabs-link-active-border-color;
    }
}

hr {
    border-color: $list-group-border-color;
}

.dropdown-menu {
    box-shadow: $dropdown-box-shadow;
}
