@import './theme.scss';

app-root {
    .tabs-on-side .tab-bar {
        height: 100% !important;
    }

    .tab-bar {
        height: 27px !important;

        .btn-tab-bar {
            line-height: 29px !important;
            height: 27px !important;
            align-items: center;
            svg {
                height: 14px;
            }
        }

        .inset {
            width: 70 !important;
        }
    }

    terminaltab .content {
        margin: 5px !important;
    }

    ssh-tab .content {
        margin: 5px !important;
    }

    serial-tab .content {
        margin: 5px !important;
    }
}
