$black:     #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$white:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$pink:      #d33682;
$purple:    #6c71c4;
$blue:      #268bd2;
$teal:      #2aa198;
$green:     #859900;

$tab-border-radius: 5px;
$button-hover-bg: rgba(0, 0, 0, .125);
$button-active-bg: rgba(0, 0, 0, .25);

$theme-colors: (
    "primary":    $orange,
    "secondary":  $base0
);

$content-bg: rgba($white, 0.65);
$content-bg-solid: $white;
$body-bg: $base2;
$body-bg2: $base1;

$body-color: $black;
$font-family-sans-serif: "Source Sans Pro";
$font-size-base: 14rem / 16;

$btn-border-radius: 0;

$nav-tabs-border-width:                       0;
$nav-tabs-border-radius:                      0;
$nav-tabs-link-hover-border-color:            $body-bg;
$nav-tabs-active-link-hover-color:            $white;
$nav-tabs-active-link-hover-bg:               $blue;
$nav-tabs-active-link-hover-border-color:     darken($blue, 30%);
$nav-pills-border-radius:  0;

$input-bg:                       $base2;
$input-disabled-bg:              $base1;

$input-color:                    $body-color;
$input-color-placeholder:        $base1;
$input-border-color:             $base1;
//$input-box-shadow:               inset 0 1px 1px rgba($black,.075);
$input-border-radius:            0;
$custom-select-border-radius: 0;
$input-bg-focus:                 $input-bg;
//$input-border-focus:             lighten($brand-primary, 25%);
//$input-box-shadow-focus:         $input-box-shadow, rgba($input-border-focus, .6);
$input-color-focus:              $input-color;
$input-group-addon-bg:           $body-bg;
$input-group-addon-border-color: $input-border-color;

$modal-content-bg:               $content-bg-solid;
$modal-content-border-color:     $body-bg;
$modal-header-border-color:      transparent;
$modal-footer-border-color:      transparent;

$popover-bg:                     $body-bg;

$dropdown-bg:                    $body-bg;
$dropdown-link-color:            $body-color;
$dropdown-link-hover-color:      #333;
$dropdown-link-hover-bg:         $body-bg2;
//$dropdown-link-active-color:     $component-active-color;
//$dropdown-link-active-bg:        $component-active-bg;
$dropdown-link-disabled-color:   #333;
$dropdown-header-color:          #333;

$list-group-color: $body-color;
$list-group-bg: rgba($black,.05);
$list-group-border-color:  rgba($black,.1);
$list-group-hover-bg: rgba($black,.1);
$list-group-link-active-bg: rgba($black,.2);

$list-group-action-color: $body-color;
$list-group-action-bg: rgba($black,.05);
$list-group-action-active-bg: $list-group-link-active-bg;

$list-group-border-radius: 0;

$pre-bg: $dropdown-bg;
$pre-color: $dropdown-link-color;

$headings-font-weight: lighter;
$headings-color: $base0;

@import '~bootstrap/scss/bootstrap.scss';


window-controls {
    svg {
        transition: 0.25s fill;
        fill: $base01;
    }

    button:hover {
        background: rgba($black, 0.125);

        svg {
            fill: $black;
        }
    }

    .btn-close:hover {
        background: #8a2828;
    }
}

$border-color: $base1;

body {
    background: $body-bg;

    &.vibrant {
        background: rgba(255, 255, 255,.4) !important;
    }
}

app-root  {
    &> .content {
        .tab-bar {
            .btn-tab-bar {
                background: transparent;
                line-height: 42px;
                align-items: center;
                svg, path {
                    fill: $black;
                    fill-opacity: 0.75;
                }

                &:hover { background: rgba(0, 0, 0, .125) !important; }
                &:active { background: rgba(0, 0, 0, .25) !important; }
            }

            &>.tabs {
                tab-header {
                    border-left: 1px solid transparent;
                    border-right: 1px solid transparent;
                    color: $base01;
                    transition: 0.125s ease-out width;

                    .index {
                        color: rgba($black, 0.4);
                    }

                    button {
                        color: $body-color;
                        border: none;
                        transition: 0.25s all;

                        &:hover { background: $button-hover-bg !important; }
                        &:active { background: $button-active-bg !important; }
                    }

                    .progressbar {
                        background: $blue;
                    }

                    .activity-indicator {
                        background:rgba(0, 0, 0, 0.2);
                    }

                    &.active {
                        color: $black;
                        background: $content-bg;
                        border-left: 1px solid $border-color;
                        border-right: 1px solid $border-color;
                    }
                }
            }
        }

        &.tabs-on-top .tab-bar {
            &>.background {
                border-bottom: 1px solid $border-color;
            }

            tab-header {
                border-bottom: 1px solid $border-color;

                &.active {
                    border-bottom-color: transparent;
                }
            }
        }

        &:not(.tabs-on-top) .tab-bar {
            &>.background {
                border-top: 1px solid $border-color;
            }

            tab-header {
                border-top: 1px solid $border-color;

                &.active {
                    margin-top: -1px;
                }
            }
        }
    }

    &.platform-win32, &.platform-linux {
        border: 1px solid #111;
        &>.content .tab-bar .tabs tab-header:first-child {
            border-left: none;
        }
    }
}

tab-body {
    background: $content-bg;
}

settings-tab > .content {
    & > .nav {
        background: rgba(0, 0, 0, 0.25);
        border-right: 1px solid $body-bg;

        & > .nav-item > .nav-link {
            border: none;
            padding: 10px 50px 10px 20px;
            font-size: 14px;

            &:not(.active) {
                color: $body-color;
            }
        }
    }
}

multi-hotkey-input {
    .item {
        background: $body-bg2;
        border: 1px solid $blue;
        border-radius: 3px;
        margin-right: 5px;

        .body {
            padding: 3px 0 2px;

            .stroke {
                padding: 0 6px;
                border-right: 1px solid $content-bg;
            }
        }

        .remove {
            padding: 3px 8px 2px;
        }
    }

    .add {
        color: #777;
        padding: 4px 10px 0;
    }

    .add, .item .body, .item .remove {
        &:hover { background: darken($body-bg2, 5%); }
        &:active { background: darken($body-bg2, 15%); }
    }
}

hotkey-input-modal {
    .input {
        background: $input-bg;
        padding: 10px;
        font-size: 24px;
        line-height: 27px;
        height: 55px;

        .stroke {
            background: $body-bg2;
            border: 1px solid $blue;
            border-radius: 3px;
            margin-right: 10px;
            padding: 3px 10px;
        }
    }

    .timeout {
        background: $input-bg;

        div {
            background: $blue;
        }
    }
}

.form-group label {
    margin-bottom: 2px;
}

.nav-tabs {
    .nav-link {
        transition: 0.25s all;
        border-bottom-color: $nav-tabs-border-color;
    }
}

[ngbradiogroup] > label.active {
    background: $blue;
}

.btn {
    i + * {
        margin-left: 5px;
    }

    &.btn-lg i + * {
        margin-left: 10px;
    }
}

.input-group-addon + .form-control {
    border-left: none;
}

.input-group > select.form-control {
    flex-direction: row;
}

.list-group-item {
    transition: 0.25s background;

    &:not(:first-child) {
        border-top: none;
    }

    i + * {
        margin-left: 10px;
    }
}

select.form-control {
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  padding-right: 30px;
}

checkbox i.on {
    color: $blue;
}

toggle {
    .body {
        border-color: $base0 !important;

        .toggle {
            background: $base0 !important;
        }
    }

    &.active .body .toggle {
        background: theme-colors(primary) !important;
    }
}

.list-group-item svg {
    fill: $black;
}

.tabby-title {
    color: $base01;
}

.tabby-logo {
    filter: saturate(0);
}

start-page footer {
    background: $white !important;
}

.terminal-toolbar {
    background: #ffffff4a !important;
    border-bottom: 1px solid #00000026 !important;
}
