body {
    min-height: 100vh;
    overflow: hidden;
    background: #1D272D;
}

.modal-dialog, .modal-backdrop, .no-drag {
    -webkit-app-region: no-drag;
}

.selectable {
    user-select: text;
}

[ngbradiogroup] input[type="radio"] {
    display: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;

    & > svg {
        pointer-events: none;
    }
}

.form-line {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin: 0;
    min-height: 64px;

    .header {
        margin-right: auto;

        .title {
        }

        .description {
            font-size: 13px;
            opacity: .5;
        }
    }

    &>.form-control, &>.input-group {
        width: 33%;
    }
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    outline: none;
    padding: 0;

    &:focus {
        border-color: transparent;
    }

    @mixin thumb() {
        -webkit-appearance: none;
        display: block;
        height: 12px;
        width: 12px;
        background: #aaa;
        border-radius: 6px;
        cursor: pointer;
        margin-top: -4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.95);
        transition: 0.25s background;

        &:hover {
            background: #777;
        }

        &:active {
            background: #666;
        }
    }

    &::-webkit-slider-thumb { @include thumb(); }
    &::-moz-range-thumb  { @include thumb(); }
    &::-ms-thumb  { @include thumb(); }
    &::thumb { @include thumb(); }

    @mixin track() {
        height: 4px;
        background: #111;
        margin: 3px 0 0;
        box-sizing: border-box;
    }

    &::-webkit-slider-runnable-track { @include track(); }
    &:focus::-webkit-slider-runnable-track { @include track(); }
    &::-moz-range-track { @include track(); }
    &::-ms-track { @include track(); }
}

a[ngbdropdownitem] {
    cursor: pointer;
}

ngb-typeahead-window {
    max-height: 60vh;
    overflow: auto;
}


.hover-reveal {
    opacity: 0;

    .hover-reveal-parent:hover &,
    *:hover > &,
    &:hover,
    &.show {
      opacity: 1;
    }
}


@keyframes terminalShakeFrames {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

.dropdown {
    .dropdown-toggle::after {
        vertical-align: 0.15em;
        margin-left: .5em;
        opacity: .5;
    }

    .dropdown-item {
        i + span {
            margin-left: 10px;
        }
    }
}

.no-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-group-item > button {
    margin: -7px 0;
}


// Windows high contrast mode
@media screen and (forced-colors: active) {
    .custom-switch .custom-control-label::before {
        background: buttonface;
    }

    .custom-switch .custom-control-label::after {
        background: buttontext;
    }

    .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
        background: activetext;
    }

    .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
        background: canvas;
    }

    color-scheme-preview, terminaltab > .content {
        forced-color-adjust: none;
    }
}
