body {
    min-height: 100vh;
    overflow: hidden;
    background: #1D272D;
}

.modal-dialog, .modal-backdrop, .no-drag {
    -webkit-app-region: no-drag;
}

.selectable {
    user-select: text;
}

[ngbradiogroup] input[type="radio"] {
    display: none;
}

.btn {
    & > svg {
        pointer-events: none;
    }
}

.form-line {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 10px 0;
    margin: 0;
    min-height: 64px;

    .header {
        margin-right: auto;

        .title {
        }

        .description {
            font-size: 13px;
            opacity: .5;
        }
    }

    &>.form-control, &>.input-group {
        width: 33%;
    }
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    outline: none;
    padding: 0;

    &:focus {
        border-color: transparent;
    }

    @mixin thumb() {
        -webkit-appearance: none;
        display: block;
        height: 12px;
        width: 12px;
        background: #aaa;
        border-radius: 6px;
        cursor: pointer;
        margin-top: -4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.95);
        transition: 0.25s background;

        &:hover {
            background: #777;
        }

        &:active {
            background: #666;
        }
    }

    &::-webkit-slider-thumb { @include thumb(); }
    &::-moz-range-thumb  { @include thumb(); }
    &::-ms-thumb  { @include thumb(); }
    &::thumb { @include thumb(); }

    @mixin track() {
        height: 4px;
        background: #111;
        margin: 3px 0 0;
        box-sizing: border-box;
    }

    &::-webkit-slider-runnable-track { @include track(); }
    &:focus::-webkit-slider-runnable-track { @include track(); }
    &::-moz-range-track { @include track(); }
    &::-ms-track { @include track(); }
}
