@import "~variables.less";
@import "~mixins.less";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: @font-family;
    font-size: @font-size;
    color: @text-color;
}

html.platform-win32 {
    body.focused {
        //border: 1px solid #9c9c00 !important;
    }
}

body {
    border: 1px solid #131313;
    transition: 0.5s border;
    overflow: hidden;
    min-height: 100vh;
}

.no-drag, a, button, checkbox, .form-control, #toast-container {
    -webkit-app-region: no-drag;
    outline: 0 !important;

    * {
        outline: 0 !important;
        -webkit-app-region: no-drag;
    }
}

.window-resizer {
    -webkit-app-region: no-drag;
    position: fixed;
    width: 10px;
    height: 10px;
}

.window-resizer-tl {
    left: 0;
    top: 0;
}



.no-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.word-wrap {
    word-wrap: break-word;
    word-break: break-all;
}


#toast-container.toast-top-full-width {
    width: 100%;
    top: 50px;

    > div {
        width: 100%;
        border-radius: 0;
        box-shadow: 0 0 2px rgba(0,0,0,.75);
        opacity: 1;
        filter: none;
    }
}



ngb-modal-backdrop {
    // ngbmodalwindow has its own, properly animated backdrop
    background: transparent !important;
}

ngb-modal-window.fade.in {
    &.out {
        opacity: 0;

        .modal-dialog {
            transform: translate(0, -25%);
        }
    }
}

ngb-tabset {
    >ul.nav-tabs {
        border-bottom: none;
        margin-bottom: 10px;
        background: rgba(0,0,0,.25);
        display: flex;
        align-items: start;
        padding: 0;
        margin: 0;

        .nav-item {
            flex: none;
            display: flex;

            .nav-link {
                background: transparent;
                border: none;
                padding: 10px 15px;
                color: @text-color;
                text-decoration: none;

                &.active {
                    background: rgba(0,0,0,.5);
                    border-bottom: 1px solid #777;
                }

                i {
                    display: block;
                    text-align: center;
                    font-size: 18px;
                    margin: 0 0 5px;
                }
            }
        }
    }

    >.tab-content {
        padding: 10px 0;
    }
}


.btn {
    i + * {
        margin-left: 5px;
    }
}

.list-group-item {
    margin: none;

    > .btn {
        float: right;
        margin: -7px -11px 0 0;
        background: transparent;
        box-shadow: none;

        &:hover {
            background: rgba(0,0,0,.25);
        }
    }
}


ngb-typeahead-window {
    max-height: 200px;
    overflow-y: auto;

    >button {
        display: block;
        width: 100%;
        -webkit-appearance: none;
        border-bottom: 1px solid @dark-border;
        .list-group-item-style();
    }
}

.list-group-item {
    .list-group-item-style();
}

label.control-label {
    background: rgba(0, 0, 0, .25);
    color: #ccc;
    font-size: 10px;
    display: block;
    margin: 0;
    padding: 5px 10px 0;
}

.form-control {
    -webkit-user-select: initial;
    background: rgba(0, 0, 0, .25);
    display: block;
    margin: 0 0 5px;
    width: 100%;
    border: none;
    height: 30px;
    line-height: 30px;
    color: #eee;
    padding: 0 10px;
}
