@import "~variables.less";
@import "~mixins.less";


html.platform-win32 {
    body.focused {
        //border: 1px solid #9c9c00 !important;
    }
}

body {
    border: 1px solid #131313;
    transition: 0.5s border;
    overflow: hidden;
    min-height: 100vh;
    cursor: default;
}

.no-drag, a, button, checkbox, .form-control, #toast-container {
    -webkit-app-region: no-drag;
    outline: 0 !important;

    * {
        outline: 0 !important;
        -webkit-app-region: no-drag;
    }
}

.window-resizer {
    -webkit-app-region: no-drag;
    position: fixed;
    width: 10px;
    height: 10px;
}

.window-resizer-tl {
    left: 0;
    top: 0;
}



.no-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.word-wrap {
    word-wrap: break-word;
    word-break: break-all;
}


#toast-container.toast-top-full-width {
    width: 100%;
    top: 50px;

    > div {
        width: 100%;
        border-radius: 0;
        box-shadow: 0 0 2px rgba(0,0,0,.75);
        opacity: 1;
        filter: none;
    }
}



ngb-modal-backdrop {
    // ngbmodalwindow has its own, properly animated backdrop
    background: transparent !important;
}

ngb-modal-window.fade.in {
    &.out {
        opacity: 0;

        .modal-dialog {
            transform: translate(0, -25%);
        }
    }
}



.btn {
    i + * {
        margin-left: 5px;
    }
}

.list-group-item {
    margin: none;

    > .btn {
        float: right;
        margin: -7px -11px 0 0;
        background: transparent;
        box-shadow: none;

        &:hover {
            background: rgba(0,0,0,.25);
        }
    }
}


ngb-typeahead-window {
    max-height: 200px;
    overflow-y: auto;

    >button {
        display: block;
        width: 100%;
        -webkit-appearance: none;
        //border-bottom: 1px solid @dark-border;
    }
}
