#toast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 50px;

  .toast {
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.35);
    padding: 7px 12px;
    background-image: none;
    display: block !important;
    border: none !important;
    width: auto;
    flex-basis: auto;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    background-color: var(--theme-bg-less, #333);
    color: var(--theme-fg, #eee) !important;

    &.toast-error {
      background-color: var(--theme-danger, #BD362F);
      color: var(--theme-danger-fg, white) !important;
    }

    &.toast-warning {
      background-color: var(--theme-warning, #f0ad4e);
      color: var(--theme-warning-fg, black) !important;
    }

    &.toast-info {
      background-color: var(--theme-bg-less-2, #555);
      color: var(--theme-fg-less-2, #eee) !important;
    }
  }
}
