#toast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .toast {
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    padding: 10px;
    background-image: none;
    width: auto;

    &.toast-error {
      background-color: #BD362F;
    }

    &.toast-info {
      background-color: #555;
    }
  }
}
