a {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

x-screen {
    transition: 0.125s ease background;
    background: transparent;

    &::-webkit-scrollbar {
      width: 3px;
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.2);
    }
}

x-row > span {
    display: inline-block;
    height: inherit;

    &.wc-node {
        vertical-align: top;
    }
}

@font-face {
    font-family: "monospace-fallback";
    src: url(../fonts/SourceCodePro.otf) format("opentype");
}
