@import url("../../node_modules/@xterm/xterm/css/xterm.css");

@font-face {
    font-family: "monospace-fallback";
    src: url(../fonts/SourceCodePro.ttf) format("truetype");
}

.xterm-decoration-overview-ruler {
    right: 1px;
    pointer-events: none;
}

.xterm-viewport {
    background: none !important;
}
