:host {
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &.top-padded {
        padding-top: 20px;
    }

    &> .content {
        flex: auto;
        position: relative;
        display: block;
        overflow: hidden;
        margin: 15px;
        transition: opacity ease-out 0.25s;
        opacity: 0;

        div[style]:last-child {
            background: black !important;
            color: white !important;
        }
    }
}
