h3.mb-3(translate) Color schemes

ul.nav-tabs(ngbNav, #nav='ngbNav', [activeId]='defaultTab')
    li(ngbNavItem='dark')
        a(ngbNavLink, translate) Dark mode
        ng-template(ngbNavContent)
            color-scheme-settings-for-mode(configKey='colorScheme')

    li(ngbNavItem='light')
        a(ngbNavLink, translate) Light mode
        ng-template(ngbNavContent)
            color-scheme-settings-for-mode(configKey='lightColorScheme')

div([ngbNavOutlet]='nav')
