:host {
    position: fixed;
    width: 400px;
    right: 40px;
    z-index: 5;
    border-radius: 0 0 5px 5px;
    background: rgba(0, 0, 0, .95);
    border: 1px solid rgba(0, 0, 0, .5);
    border-top: 0;
    display: flex;

    button {
        padding: 0 6px;
        margin: 4px 2px;
        flex-shrink: 0;
    }
}
