ng-content

button.btn.btn-sm.btn-link(
    *ngIf='tab.enableToolbar',
    (click)='tab.togglePinToolbar()',
    (mouseenter)='tab.showToolbar()',
    (mouseleave)='tab.hideToolbar()'
)
    i.fas.fa-thumbtack
    span(*ngIf='tab.pinToolbar', translate) Unpin
    span(*ngIf='!tab.pinToolbar', translate) Pin
