$window-border: #313131;
$body-bg: #010101;
$body-bg2: #010101;
$body-bg3: #111;


$tab-border-radius: 3px;
$button-hover-bg: rgba(255, 255, 255, .05);
$button-active-bg: rgba(255, 255, 255, .1);


$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;


$body-color: #aaa;
$font-family-sans-serif: "Source Sans Pro";
$font-size-base: 14rem / 16;

$btn-secondary-color:            #ccc;
$btn-secondary-bg:               #222;
$btn-secondary-border:           #444;

//$btn-warning-bg:                 rgba($orange, .5);


$nav-tabs-border-color:                       $body-bg2;
$nav-tabs-border-width:                       1px;
$nav-tabs-border-radius:                      0;
$nav-tabs-link-hover-border-color:            $body-bg2;
$nav-tabs-active-link-hover-color:            $white;
$nav-tabs-active-link-hover-bg:               $blue;
$nav-tabs-active-link-hover-border-color:     darken($blue, 30%);

$input-bg:                       #111;
$input-bg-disabled:              #333;

$input-color:                    $body-color;
//$input-border-color:             rgba($black,.15);
//$input-box-shadow:               inset 0 1px 1px rgba($black,.075);

$input-border-radius:            0;

$input-bg-focus:                 $input-bg;
//$input-border-focus:             lighten($brand-primary, 25%);
//$input-box-shadow-focus:         $input-box-shadow, rgba($input-border-focus, .6);
$input-color-focus:              $input-color;

$modal-content-bg:               $body-bg;
$modal-content-border-color:     $body-bg2;
$modal-header-border-color:      $body-bg2;
$modal-footer-border-color:      $body-bg2;

$popover-bg:                     $body-bg2;


@import '~bootstrap/scss/bootstrap.scss';

.nav-tabs {
    background: $btn-secondary-bg;
    .nav-link {
        transition: 0.25s all;
        border-bottom-color: $nav-tabs-border-color;
    }
}

ngb-tabset .tab-content {
    padding-top: 20px;
}

[ngbradiogroup] > label.active {
    background: $blue;
}

title-bar {
    background: $body-bg2;

    button {
        &:hover { background: $button-hover-bg !important; }
        &:active { background: $button-active-bg !important; }
    }
}


app-root  {
    background: $body-bg;
    border: 1px solid $window-border;

    &> .content {
        .tab-bar {
            .btn-tab-bar {
                background: transparent;
                &:hover { background: $button-hover-bg !important; }
                &:active { background: $button-active-bg !important; }
            }

            &>.tabs {
                tab-header {
                    background: $body-bg;

                    .index {
                        color: #555;
                    }

                    .name {
                        text-align: center;
                    }

                    button {
                        color: $body-color;
                        border: none;
                        transition: 0.25s all;
                    }
                }
            }
        }

        &.tabs-on-top .tab-bar {
            margin-top: -1px;
            border-bottom: 1px solid $window-border;

            tab-header {
                margin-bottom: -1px;
                border: 1px solid transparent;
                border-bottom: 1px solid $window-border;
                border-top-left-radius: $tab-border-radius;
                border-top-right-radius: $tab-border-radius;

                &.active {
                    border: 1px solid $window-border;
                    border-bottom: 1px solid transparent;
                }

                &.has-activity:not(.active) {
                    border-top: 1px solid $green;
                }
            }
        }

        &:not(.tabs-on-top) .tab-bar {
            margin-bottom: -1px;
            border-top: 1px solid $window-border;

            tab-header {
                margin-top: -1px;
                border: 1px solid transparent;
                border-top: 1px solid $window-border;
                border-bottom-left-radius: $tab-border-radius;
                border-bottom-right-radius: $tab-border-radius;

                &.active {
                    border: 1px solid $window-border;
                    border-top: 1px solid transparent;
                }

                &.has-activity:not(.active) {
                    border-bottom: 1px solid $green;
                }
            }
        }
    }
}

tab-body {
    background: $body-bg;
}

settings-tab > ngb-tabset {
    border-right: 1px solid $body-bg2;

    & > .nav {
        background: $body-bg3;

        & > .nav-item > .nav-link {
            border-left: none;
            border-right: none;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            padding: 10px 50px 10px 20px;
            font-size: 14px;

            &.active {
                border-top-color: $nav-tabs-active-link-hover-border-color;
                border-bottom-color: $nav-tabs-active-link-hover-border-color;
            }
        }
    }
}

multi-hotkey-input {
    .item {
        background: $body-bg3;
        border: 1px solid $blue;
        border-radius: 3px;
        margin-right: 5px;

        .body {
            padding: 3px 0 2px;

            .stroke {
                padding: 0 6px;
                border-right: 1px solid $body-bg;
            }
        }

        .remove {
            padding: 3px 8px 2px;
        }
    }

    .add {
        color: #777;
        padding: 4px 10px 0;
    }

    .add, .item .body, .item .remove {
        &:hover { background: darken($body-bg3, 5%); }
        &:active { background: darken($body-bg3, 15%); }
    }
}

hotkey-input-modal {
    .input {
        background: $input-bg;
        padding: 10px;
        font-size: 24px;
        line-height: 27px;
        height: 55px;

        .stroke {
            background: $body-bg3;
            border: 1px solid $blue;
            border-radius: 3px;
            margin-right: 10px;
            padding: 3px 10px;
        }
    }

    .timeout {
        background: $input-bg;

        div {
            background: $blue;
        }
    }
}

.form-group label {
    margin-bottom: 2px;
}
