.tab-toolbar([class.show]='!session || !session.open')
    .btn.btn-outline-secondary.reveal-button
        i.fas.fa-ellipsis-h
    .toolbar
        i.fas.fa-circle.text-success.mr-2(*ngIf='session && session.open')
        i.fas.fa-circle.text-danger.mr-2(*ngIf='!session || !session.open')
        strong {{connection.port}} ({{connection.baudrate}})

        .mr-auto

        button.btn.btn-secondary.mr-3((click)='changeBaudRate()', *ngIf='session && session.open')
            span Change baud rate

        button.btn.btn-info((click)='reconnect()', *ngIf='!session || !session.open')
            i.fas.fa-reload
            span Reconnect
