doctype html
html
    head
        base(href='dist/')
        meta(name='viewport', content='initial-scale=1, minimal-ui, shrink-to-fit=no')
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400", rel="stylesheet")
        script(src='bundle.js')
        title Terminus
    body
        .mt-5.mb-5#header
            .text-center
                h1 Terminus
                .subtitle.mb-3 A terminal for a more modern age
                
                a.btn.btn-lg.btn-outline-dark.mt-4(href='https://github.com/Eugeny/terminus/releases/latest', target='_blank')
                    strong DOWNLOAD

                a.btn.btn-lg.btn-outline-secondary.mt-4.ml-3(href='https://github.com/Eugeny/terminus', target='_blank')
                    strong GITHUB
                    
                
        .background-stripe
            .overlay.overlay1
            .overlay.overlay2
            .terminal

        .container.mt-5.mb-5
            .d-flex.flex-wrap.flex-md-nowrap
                .w-100
                    .feature windows
                    .feature linux
                    .feature macos
                    br
                    .feature powershell
                    .feature wsl
                    .feature cygwin
                    .feature git-bash
                    .feature cmder
                    .feature clink
                    
                .w-100
                    .feature full unicode
                    .feature global hotkey
                    .feature plugins
                    .feature tab recovery
                    .feature custom css
                    .feature themes
                    .feature font ligatures
                    .feature clickable paths
                    .feature tabs on top/bottom
                    .feature vibrancy
                    .feature bracketed paste
                    
        .container.mt-5.mb-5
            .text-center
                a.btn.btn-lg.btn-outline-secondary.mt-5(href='/terminus/#header')
                    strong BEAM ME UP

        .background-stripe2
            .overlay.overlay1
                                        
        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-3278102-18', 'auto');
          ga('send', 'pageview');
