$font-family-sans-serif: "Source Sans Pro";
$border-radius-lg: 0;
$btn-border-width: 3px;

@import "node_modules/bootstrap/scss/bootstrap";


h1 {
    font-size: 10vw;
    font-weight: 200;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.subtitle {
    font-style: italic;
    color: #999;
    font-size: 5vw;
    font-weight: 300;
}

.background-stripe {
    width: 100vw;
    background-image: url('./background.jpeg');
    background-size: cover;
    height: 30vw;
    margin: 200px 0 150px;
    min-height: 1000px;
    position: relative;

    .overlay {
        position: absolute;
        width: 100vw;
        width: 1px;
        height: 1px;

        &.overlay1 {
            top: -1px;
            left: 0;
            border-top: 10vw solid white;
            border-right: 100vw solid transparent;
        }

        &.overlay2 {
            bottom: -1px;
            right: 0;
            border-bottom: 10vw solid white;
            border-left: 100vw solid transparent;
        }
    }

    .terminal {
        position: absolute;
        left: 50%;
        top: 5vw;

        width: 1304px;
        margin-left: -652px;
        height: 972px;
        border-radius: 9px;

        box-shadow: 0 0 100px black;
        background: url('./terminal.png');
        background-size: cover;

        animation: slideIn ease-out 1s;
        opacity: .95;
    }

    @media(max-width: 1500px) {
        min-height: 500px;
        margin: 200px 0 100px;

        .terminal {
            width: 652px;
            top: -100px;
            margin-left: -326px;
            height: 486px;
            border-radius: 5px;
        }
    }

    @media(max-width: 750px) {
        min-height: 250px;
        margin: 100px 0 50px;

        .terminal {
            width: 326px;
            top: -50px;
            margin-left: -163px;
            height: 243px;
            border-radius: 3px;
        }
    }

}

.feature {
    font-size: 45px;
    line-height: 40px;
    opacity: .5;
    font-style: italic;
}

@keyframes slideIn {
    from {
        opacity: 0;
        margin-top: 200px;
    }
    to {
        opacity: .95;
        margin-top: 0px;
    }
}


.background-stripe2 {
    width: 100vw;
    background-image: url('./background.jpeg');
    background-size: cover;
    height: 30vw;
    margin: 100px 0 0;
    position: relative;

    .overlay {
        position: absolute;
        width: 100vw;
        width: 1px;
        height: 1px;

        &.overlay1 {
            top: -1px;
            right: 0;
            border-top: 10vw solid white;
            border-left: 100vw solid transparent;
        }
    }
}
