div {
    width: 32px;
    height: 32px;
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
    border: none;
    margin: 5px 10px 5px 0;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
    color: #fff;
    line-height: 31px;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
