:host {
    flex: auto;
    display: flex;
    overflow: hidden;

    &> .content {
        flex: auto;
        position: relative;
        display: block;
        overflow: hidden;
        margin: 15px;

        div[style]:last-child {
            background: black !important;
            color: white !important;
        }
    }
}
