:host /deep/ ngb-tabset {
    flex: auto;
    display: flex;
}

:host /deep/ ngb-tabset > .nav {
    display: flex;
    flex-direction: column;
    flex: none;
}

:host /deep/ ngb-tabset > .tab-content {
    padding: 15px 30px;
    margin: 0;
    overflow-y: auto;
    flex: auto;
    display: flex;
    position: relative;
}

:host /deep/ ngb-tabset > .tab-content > .tab-pane {
    width: 100%;
}
