:host {
    display: flex;
    flex-direction: column;
    flex: auto;

    >.btn-block {
        margin: 20px;
        width: auto;
        flex: none;
    }
}

.hotkeys-table {
    margin-top: 30px;

    td, th {
        padding: 5px 10px;
    }
}

textarea {
    font-family: 'Source Code Pro', monospace;
    min-height: 120px;
}
