name: Docs
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.5
      with:
        fetch-depth: 0

    - name: Installing Node
      uses: actions/setup-node@v2.4.0
      with:
        node-version: 14

    - name: Build
      run: |
        yarn cache clean
        cd app
        yarn
        cd ..
        rm app/node_modules/.yarn-integrity
        yarn
        yarn run build:typings
        yarn run docs

      env:
        DOCS_PRIVATE_KEY: ${{ secrets.DOCS_PRIVATE_KEY }}

    - uses: FirebaseExtended/action-hosting-deploy@v0
      with:
        repoToken: '${{ secrets.GITHUB_TOKEN }}'
        firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_TABBY_DOCS }}'
        channelId: live
        projectId: tabby-docs
